<!-- Header  -->

<header
  class="absolute left-0 top-0 flex items-center justify-between px-[20px] pt-[20px] md:px-[32px] md:pt-[24px]"
>
  <a href="index.html" class="inline-block"
    ><img
      src="svg/logo.svg"
      alt="Logo"
      width="98"
      height="15"
      class="h-[31px] w-[202px]"
  /></a>

  <div>
    <input
      type="text"
      class="flex h-[28px] w-[108px] items-center justify-center gap-[8px] rounded-[1000px] border border-solid border-grey bg-transparent px-[18px] py-[6px] outline-none md:h-[42px] md:w-[130px] md:px-[24px] md:py-[12px]"
    />
  </div>
</header>
