<section
  class="relative px-[20px] py-[40px] md:mx-auto md:w-[600px] md:rounded-lg md:px-[32px] md:py-[64px] lg:w-[1000px]"
>
  <button
    type="button"
    class="absolute right-[14px] top-[14px] md:right-[16px] md:top-[16px]"
  >
    <svg
      fill="none"
      viewBox="0 0 20 20"
      class="h-5 w-5 stroke-current md:h-7 md:w-7"
    >
      <path
        d="M15 5 5 15M5 5l10 10"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <span class="sr-only">Close</span>
  </button>

  <div class="flex flex-col gap-[16px] lg:flex-row">
    <div class="flex flex-col gap-[8px] md:flex-row lg:flex-col">
      <div class="max-w-[335px] md:w-[332px]">
        <img
          src="./images/modal-08.jpg"
          alt="modal-character"
          class="h-auto w-full rounded object-cover"
        />
      </div>
      <div class="flex gap-[8px] md:flex-col lg:flex-row">
        <img
          src="./images/modal-09.jpg"
          alt="modal-character"
          class="h-[80px] w-[80px] rounded-lg object-cover"
        />
        <img
          src="./images/modal-10.jpg"
          alt="modal-character"
          class="h-[80px] w-[80px] rounded-lg object-cover"
        />
        <img
          src="./images/modal-11.jpg"
          alt="modal-character"
          class="h-[80px] w-[80px] rounded-lg object-cover"
        />
      </div>
    </div>

    <div class="rounded-lg bg-light-bg px-[16px] py-[32px] lg:w-[588px]">
      <div class="flex flex-col gap-[16px]">
        <div class="flex flex-col gap-[4px] md:flex-row md:justify-between">
          <h2 class="text-18s font-medium md:text-24">Daredevil (2022)</h2>
          <div class="flex items-center">
            <span class="pr-[8px] text-14 opacity-50">Chip Zdarsky</span>
            <span
              class="border-l border-solid border-grey-50 pl-[8px] text-14 opacity-50"
              >December 07, 2022</span
            >
          </div>
        </div>
        <p class="text-14 md:text-16">
          In the most shocking issue of Chip Zdarsky and Marco Checchetto’s
          landmark DAREDEVIL epic yet, Elektra finds herself at the center of an
          international incident that threatens to put her, Matt Murdock and
          everything they hold dear on a collision course with the Avengers –
          after which, things may never be the same!
        </p>
      </div>

      <ul class="mt-[16px] flex justify-between md:mt-[32px] md:w-[317px]">
        <li class="flex flex-col gap-[4px] md:gap-[8px]">
          <span class="text-10s uppercase opacity-50 md:text-12">format</span>
          <span class="text-14 md:text-16">Comic</span>
        </li>

        <li class="flex flex-col gap-[4px] md:gap-[8px]">
          <span class="text-10s uppercase opacity-50 md:text-12"
            >year released</span
          >
          <span class="text-14 md:text-16">1967</span>
        </li>

        <li class="flex flex-col gap-[4px] md:gap-[8px]">
          <span class="text-10s uppercase opacity-50 md:text-12">pages</span>
          <span class="text-14 md:text-16">28</span>
        </li>

        <li class="flex flex-col gap-[4px] md:gap-[8px]">
          <span class="text-10s uppercase opacity-50 md:text-12">price</span>
          <span class="text-14 md:text-16">$3.99</span>
        </li>
      </ul>

      <div class="mt-[32px] flex flex-col gap-[20px] md:gap-[32px]">
        <h2 class="text-18s font-medium md:text-24">Creator</h2>
        <figure class="flex gap-[8px] md:gap-[14px]">
          <img
            src="./images/modal-12.jpg"
            alt="Comic's creator"
            class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
          />
          <figcaption
            class="flex flex-col justify-center gap-[4px] md:gap-[8px]"
          >
            <span class="text-10 opacity-50 md:text-12">Writer</span>
            <span class="text-14 md:text-16">Chip Zdarsky</span>
          </figcaption>
        </figure>
      </div>

      <div class="mt-[32px]">
        <h2 class="text-18s font-medium md:text-24">Characters</h2>

        <ul
          class="mt-[20px] grid grid-cols-1 gap-y-[16px] md:mt-[32px] md:grid-cols-[190px,190px] md:gap-x-[32px] lg:grid-cols-3 lg:gap-x-[15px]"
        >
          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-13.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Daredevilic</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-14.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Karen Page</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-15.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Vanessa Fisk</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-16.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Bullseye</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-17.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Daredevilic</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-18.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Foggy Nelson</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-19.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16">Wesley</span>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure class="flex gap-[8px] md:gap-[16px] lg:gap-[8px]">
              <img
                src="./images/modal-20.jpg"
                alt="Comic's character"
                class="h-[50px] w-[50px] rounded-lg object-cover md:h-[60px] md:w-[60px]"
              />
              <figcaption
                class="flex w-[calc(100%-58px)] flex-col justify-center md:w-[calc(100%-76px)] lg:w-[calc(100%-68px)]"
              >
                <span class="break-words text-14 md:text-16"
                  >Claire Temple</span
                >
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
