@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-500.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-back-panther: linear-gradient(
      180deg,
      #34387f 36.46%,
      rgba(52, 56, 127, 0) 100%
    );
  }
}
